<!-- 默认情况下所有的模板都继承自layout.ejs，即body部分才是独特的内容，其他部分是共有的，可以看做是页面的框架 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>